<h1>New User</h1>

<form action="/users/save" method="post">
  <div class="form-group" style="margin-left:3%">
    <label class="control-label" for="first_name">First Name</label>
    <input type="text" id="first_name" class="form-control" name="first_name" value="{{user.first_name}}" required>
  </div>
  <div class="form-group" style="margin-left:3%">
    <label class="control-label" for="last_name">Last Name</label>
    <input type="text" id="last_name" class="form-control" name="last_name" value="{{user.last_name}}" required>
  </div>
  <div class="form-group" style="margin-left:3%">
    <label class="control-label" for="email">E-mail</label>
    <input type="email" id="email" class="form-control" name="email" value="{{user.email}}" required>
  </div>
  <div class="form-group" style="margin-left:3%">
    <label class="control-label" for="birth_date">Birth Date</label>
    <input type="date" id="birth_date" class="form-control" name="birth_date" value="{{user.birth_date}}" required>
  </div>
  <button type="submit" class="btn btn-success" style="margin-left:3%">Criar</button>
<form>
